.calls {
    padding: 5px;
}

.calls h2 {
    margin-bottom: 10px;
}

.calls p {
    color: #555;
}

.calls-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calls-add-btn {
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.calls-add-btn:hover {
    background-color: #388E3C; /* Darker green on hover */
}

.call-card {
    background-color: #ffffff; /* White background for the card */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin-bottom: 15px; /* Space between cards */
}

.calls-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calls-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
}

.calls-modal-content h3 {
    margin-bottom: 20px; /* Space below the title */
}

.calls-modal-content label {
    display: block;
    margin-bottom: 10px; /* Space between labels */
    font-weight: bold; /* Make labels bold */
}

.calls-modal-content input,
.calls-modal-content select,
.calls-modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.calls-modal-content textarea {
    min-height: 150px; /* Increased minimum height for the textarea */
    height: 200px; /* Set a fixed height for the textarea */
    resize: vertical; /* Allow vertical resizing */
}

/* Button styles in modal */
.calls-modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Space above buttons */
}

.calls-submit-btn {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.calls-submit-btn:hover {
    background: #388E3C; /* Darker green on hover */
}

.calls-cancel-btn {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.calls-cancel-btn:hover {
    background-color: #d32f2f; /* Darker red on hover */
}

.date-time-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Space between date and time inputs */
}

.date-time-container label {
    flex: 1; /* Allow labels to take equal space */
}
