body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  margin-left: 270px; /* Change this to 0 for mobile view */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

/* Styles for login-related pages */
.login-content {
  margin-left: 0; /* Remove left margin */
  padding: 0; /* Remove padding */
}

/* Add this to your main CSS file (e.g., App.css or index.css) */
html, body {
  height: 100%; /* Ensure the HTML and body take full height */
  margin: 0; /* Remove default margin */
  background-color: #1F1F1F; /* Set background color to match the theme */
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .content {
    margin-left: 0; /* Ensure no margin on mobile */
  }
}
